@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

:root {
    --header-navigation-top-color: #090c0f;
    --header-navigation-bottom-color: #0e1317;
    --buttom-color: #b99272;
    --header-social-icons: #ffffff82;
    --paragraph-color: #ffffffab;
}

* {
    font-family: 'Nunito', 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    outline: none;
}


.flow {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color: #0e1317;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}


.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    background: var(--buttom-color);
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 2rem;
    transition: all .3s ease;
    text-align: center;
    line-height: 4rem;
    height: 5rem;
}

.btn:hover {
    background-color: var(--header-navigation-bottom-color);
    color: var(--paragraph-color);
    border: 1px solid var(--buttom-color);
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* header-top */
.header-top .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    border: .5rem solid var(--header-navigation-top-color);
    background-color: var(--header-navigation-top-color);
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

.header-top .container-header .socail-icons .socail {
    display: none;
    justify-content: center;
    align-items: center;
}

.header-top .container-header .same-css {
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
}

.header-top .container-header .socail-icons .socail li a {
    color: #fff;
    padding-right: 1.5rem;
    font-size: 1.6rem;
}

.header-top .container-header .socail-icons .socail li a:hover {
    color: var(--buttom-color);
}

.header-top .container-header .same-css span {
    color: var(--buttom-color);
    font-weight: 600;
    font-size: 1.6rem;
}

/* header-bottom */
.header-bottom {
    position: fixed;
    top: 7rem;
    left: 0;
    width: 100%;
    height: 8rem;
    z-index: 1000;
    background-color: var(--header-navigation-bottom-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-bottom .container.header .logo,
.header-bottom .container-header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1.5rem;
}

.logo img {
    max-height: 4rem;
    max-width: 100%;
    transition: transform 0.3s ease;
    width: auto;
    height: auto;
    padding-top: .3rem;
    height: auto;
}


.header-bottom .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1.5rem;
    /* flex-wrap: wrap; */
    overflow: visible;
}


.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li.has-dropdown {
    position: relative;
}

.navigation li {
    position: relative;
    margin-right: 1rem;
}

.navigation li a {
    display: block;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1.6rem;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.navigation li a:hover,
.navigation li a:focus {
    color: #fff;
    background-color: var(--buttom-color);
    border-radius: .5rem;
}

.navigation li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: var(--header-navigation-top-color);
    min-width: 200px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, transform 0.3s ease;
    transform: translateY(-10px);
    padding: 0;
}

.navigation li:hover ul.dropdown,
.navigation li:focus-within ul.dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.navigation li.has-dropdown>a:hover,
.navigation li.has-dropdown:focus-within>a {
    background-color: var(--buttom-color);
    color: #fff;
}

.navigation li ul.dropdown li {
    list-style: none;
}

.navigation li ul.dropdown li a {
    display: block;
    padding: 1rem 1.5rem;
    background-color: var(--header-navigation-bottom-color);
    color: #fff;
    font-size: 1.6rem;
    transition: background 0.25s ease, color 0.25s ease;
}

.navigation li ul.dropdown li a:hover,
.navigation li ul.dropdown li a:focus {
    background-color: var(--buttom-color);
    color: #fff;
}

.icons-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-1 i,
.icons-1 a {
    color: #fff;
    font-size: 1.3rem;
    /* margin: 0 1rem; */
    transition: color .3s ease;
    cursor: pointer;
}

.icons-1 i:hover,
.icons-1 a:hover {
    color: var(--buttom-color);
}

.icons-1 #menu-bars {
    display: none;
    font-size: 2rem;
    padding-top: 1.5rem;
}

.header-bottom .socail-icons,
.header-bottom #desktop {
    display: none;
}

.responsive-header {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 19, 23, 0.9);
    z-index: 9999;
}


/* section about-section */
.about-section {
    background: url('/image/about-bg.jpg') center/cover no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* 100vh zyada lamba lagta hai, chahe to 100vh hi rakho */
    position: relative;
    display: flex;
    text-align: center;
    overflow: hidden;
    padding: 10rem 2rem;
}

.about-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.about-section .container {
    position: relative;
    z-index: 2;
    /* overlay ke upar */
}

.about-section .content {
    position: absolute;
    top: 60%;
    left: -7rem;
    width: 100vh;
}

.about-section .content h1 {
    font-size: 6.6rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: bold;
}

.about-section .content h5 {
    font-size: 1.4rem;
    color: #fff;
    display: flex;
    position: absolute;
    top: 100%;
    left: 35%;
    width: 100vh;
}

.about-section .content h5 a {
    color: #f0c674;
    /* breadcrumb link color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.about-section .content h5 a:hover {
    color: #fff;
}

.about-section .content h5 span {
    margin: 0 0.5rem;
    color: #ddd;
}

/* about-keffen */

.about-keffen {
    padding: 6rem 10%;

}

.about-keffen .container .row-1-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.about-keffen .container .row-1-2 .row-2 {
    width: 70%;
    flex: 1 1 35%;
}

.about-keffen .container .row-1-2 .row-1 {
    flex: 1 1 44%;
}

.about-keffen .container .row-1-2 .row-2 .image img {
    width: 73vh;
    height: 130vh;
    padding-bottom: 3rem;
    object-fit: cover;
}

.about-keffen .container .row-1-2 .row-1 .main-content h4 {
    font-size: 1.5rem;
    color: var(--buttom-color);
    font-family: sans-serif;
    width: 50%;
    padding-bottom: 2rem;
}

.about-keffen .container .row-1-2 .row-1 .main-content h1 {
    font-size: 3.5rem;
    color: #fff;
    font-family: 'Oswald';
    padding-bottom: 2rem;
}

.about-keffen .container .row-1-2 .row-1 .main-content p {
    color: var(--paragraph-color);
    line-height: 2;
    width: 90%;
    font-size: 1.5rem;
}

.about-keffen .container .row-1-2 .row-1 .image-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-content-1 .image img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    padding-top: 2rem;
    margin-right: 3rem;
}

.image-content-1 .content {
    margin-top: 1rem;
}

.image-content-1 .content h3 {
    font-size: 3rem;
    color: #fff;
}

.image-content-1 .content p {
    font-size: 1.5rem;
    color: var(--paragraph-color);
    width: 75%;
    line-height: 1.5;
    padding-top: 1rem;
}


.about-keffen .container .row-1-2 .row-1 .image-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.image-content-2 .image img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    padding-top: 2rem;
    margin-right: 3rem;
}

.image-content-2 .content {
    margin-top: 1rem;
}

.image-content-2 .content h3 {
    font-size: 3rem;
    color: #fff;
}

.image-content-2 .content p {
    font-size: 1.5rem;
    color: var(--paragraph-color);
    width: 75%;
    line-height: 1.5;
    padding-top: 1rem;
}

.about-keffen .container .btn-about {
    width: 24vh;
    height: 9vh;
    background-color: var(--buttom-color);
    color: #fff;
    border-radius: .8rem;
    margin: 3rem 2rem 2rem;
}

.about-keffen .container .btn-about a {
    color: #fff;
    font-size: 1.5rem;
}


.about-keffen .container .btn-about:hover {
    color: #fff;
    background-color: var(--header-navigation-bottom-color);
    border: .1rem solid var(--buttom-color);
}


/* section bg-video */
.bg-video {
    background: url('/image/video_bg.jpg') center/cover no-repeat;
    position: relative;
    width: 100%;
    height: 60rem;
    /* apni requirement ke hisaab se */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

.video-container.active {
    display: block;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#play-button {
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#play-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#play-button i {
    color: #b99272;
    font-size: 4rem;
}

/* birthday-cards */

.birthday-cards {
    padding: 8rem 6rem;
}



.birthday-cards .container .contianer-birthday {
    background-color: var(--header-navigation-top-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 45vh;
    width: 100%;
    position: relative;
    padding: 7rem 0;
}


.birthday-cards .container .contianer-birthday .image-content {
    width: 38vh;
    height: auto;
    margin-left: 6rem;
}

.birthday-cards .container .contianer-birthday .image-content .image {
    height: 22vh;
    width: 21vh;
    border-radius: 50%;
    background-color: var(--header-navigation-bottom-color);
    margin-left: 2rem;
    margin-top: -3.7rem;
}

.birthday-cards .container .contianer-birthday .image-content .image img {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    margin-top: 2rem;
    margin-left: 2rem;
}


.birthday-cards .container .contianer-birthday .image-content .content h3 {
    color: #fff;
    margin-right: 2rem;
    font-size: 3rem;
}

.birthday-cards .container .contianer-birthday .image-content .content p {
    color: var(--paragraph-color);
    font-size: 1.3rem;
    padding-left: 2.5rem;
}


/* chefs */

.chefs {
    padding: 4rem 5rem;
}

.chefs .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.chefs .container h2 {
    color: var(--buttom-color);
    text-align: center;
    font-size: 1.5rem;
}

.chefs .container h1 {
    font-size: 4rem;
    color: var(--paragraph-color);
    text-align: center;
}

.chefs .container .team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.chefs .container .team .team-contact {
    background-color: var(--header-navigation-top-color);
    padding: 2rem;
    margin-left: 2rem;
    height: 37rem;
    width: 35rem;
}

.chefs .container .team .team-contact h3 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--header-social-icons);
}

.chefs .container .team .team-contact p {
    text-align: center;
    font-size: 2rem;
    color: var(--buttom-color);
}

.chefs .container .team .team-contact .image-team {
    position: relative;

}

.chefs .container .team .team-contact .image-team img {
    border-radius: .8rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 2rem;
}


.chefs .container .team .team-contact .image-team .team-member {
    position: absolute;
    left: 0em;
    top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 91.9%;
    border-radius: .8rem;
    opacity: 0;
}

.chefs .container .team .team-contact .image-team .team-member {
    transition: opacity 0.4s ease;
    pointer-events: none;
}

.chefs .container .team .team-contact .image-team:hover .team-member {
    opacity: 1;
    pointer-events: auto;
}

.chefs .container .team-box h4 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: "oswald", sans-serif;
}

.chefs .container .team-member .team-box .para {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.team-member .icons-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-member .icons-box .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5rem;
    margin-top: 3rem;

}

.team-member .icons-box .icons li {
    list-style: none;
}

.team-member .icons-box .icons li a {
    color: var(--buttom-color);
    border: .5 solid black;
    background-color: #fff;
    margin-left: 2rem;
    font-size: 2rem;
    border-radius: .5rem;
    padding: .5rem;
}

.team-member .icons-box .icons li a:hover {
    color: #fff;
    background-color: var(--buttom-color);
}


/* brand-pics */

.brand-pics {
    padding: 6rem;
    background-color: var(--header-navigation-bottom-color);
}

.brand-pics .container .container-pics {
    display: flex;
    justify-content: center;
    align-items: center;
}


.brand-pics .container .container-pics .pics {
    height: auto;
    padding: 0 3rem;

}

.pics img {
    height: 20vh;
    width: 25vh;
    padding-left: 1rem;
    object-fit: contain;
    opacity: .5;
}
/* 
.about-client {
    background-image: url(/image/testimonials_bg2.jpg);
    padding: 7rem 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-client .container h2 {
     color: var(--buttom-color);
    text-align: center;
    font-size: 1.5rem
}


.about-client .container h1{
     font-size: 4rem;
    color: var(--paragraph-color);
    text-align: center;
}


.container-keffen{
    width: 302vh;
    min-height: 549h;
    padding: 7rem 8rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.container-keffen .clinet-inf0{
    height: 55vh;
    width: 22rem;
    background-color: var(--header-navigation-bottom-color);
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 12rem 0;
    position: relative;
    text-align: center
}

.container-keffen .clinet-inf0 .image img{
     width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    position: absolute;
    top: -3.5rem;
    left: 38%;
    transform: translateX(0%);
    border: 3px solid #fff;
}
.container-keffen .clinet-inf0 .image img:hover{
    transform: scale(1.1);
    transition: all .3s ease;
}


.content-client {
    margin-top: -4rem;
}
.content-client .stars i{
    color: var(--buttom-color);
    font-size: 1.5rem;
    padding: 0 .1rem;
}

.content-client p{
    color: var(--paragraph-color);
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1rem 2rem;
}

 .clinet-inf0 .content-client h5{
    color: #fff;
    font-size: 2rem;
    padding-top: 1rem;
}
.content-client h6{
    color: var(--buttom-color);
    font-size: 1.5rem;
    padding-top: .5rem;
}

   .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #000;
      opacity: 1;
      background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
      color: #fff;
      background: #007aff;
    }

 */

 

/* .slider-client */

.slider-client {
    background-image: url(/image/testimonials_bg2.jpg);
    padding: 7rem 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.slider-client .container h2 {
    color: var(--buttom-color);
    text-align: center;
    font-size: 1.5rem
}

.slider-client .container h1 {
    font-size: 4rem;
    color: var(--paragraph-color);
    text-align: center;
}

.slider-client .container .client-container {
    width: 100%;
    min-height: 49vh;
    padding: 7rem 8rem;
    display: flex;
    flex-wrap: wrap;
    /* responsive */
    justify-content: center;
    gap: 1.5rem;
}

.slider-client .container .client-container .clinet-info {
    height: auto;
    width: 25rem;
    background-color: var(--header-navigation-bottom-color);
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    text-align: center;
}

.slider-client .container .client-container .clinet-info .image img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    position: absolute;
    top: -1.5rem;
    left: 47%;
    transform: translateX(-30%);
    border: 3px solid #fff;

}


.slider-client .container .client-container .clinet-info .image img:hover {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.slider-client .container .client-container .clinet-info .clinet-content {
    padding: 4rem;
}

.slider-client .container .client-container .clinet-info .clinet-content .stars {

    margin: 1rem 0;
}

.slider-client .container .client-container .clinet-info .clinet-content i {
    color: #b99272;
    margin: 0 .2rem;
    font-size: 1.3rem;
}

.slider-client .container .client-container .clinet-info .clinet-content p {
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--paragraph-color);
    font-size: 1.5rem;
}

.slider-client .container .client-container .clinet-info h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.slider-client .container .client-container .clinet-info .clinet-content h6 {
    margin-top: 0.5rem;
    color: var(--buttom-color);
    font-size: 1.4rem;
}




/* end-image-slider */


.end-image-slider .container .container-end {
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    height: auto;
    width: 100%;
}

.end-image-slider .container .container-end .image {
    height: 70vh;
    position: relative;
}

.end-image-slider .container .container-end .image img {
    height: 60vh;
    width: 60vh;
    transition: all .3s;
}

.end-image-slider .container .container-end .image img:hover {
    transform: scale(1.1);
}


.end-image-slider .container .container-end .image .image-icons .icons {
    position: absolute;
    top: 17rem;
    left: 17rem;
    height: 50vh;
    width: 50vh;
}

.image-icons .icons a {
    color: var(--header-social-icons);
    font-size: 4rem;
}


.end-image-slider .container .container-end .image .image-icons {
      position: absolute;
    top: -2rem;
    left: -2rem;
    background-color: rgba(0, 0, 0, 0.3);
    width: 113%;
    height: 95.9%;
    border-radius: .8rem;
    opacity: 0;
}

.end-image-slider .container .container-end .image:hover .image-icons {
    opacity: 1;
    pointer-events: none;
}



/* footer */
.footer {
    background-color: var(--header-navigation-top-color);
    padding: 2rem 8rem;
    padding-top: 5rem;
    color: #fff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* ✅ responsive ke liye wrap */
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* ============ Column 1 ============ */
.for-1 .container-for-1 img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    margin-bottom: 1rem;
}

.for-1 .container-for-1 p {
    color: var(--paragraph-color);
    font-size: 1.5rem;
    line-height: 1.7;
    max-width: 30rem;
}

.for-1 .container-for-1 .fo-socail-icons {
    padding: 2rem 0;
}

.for-1 .container-for-1 .fo-socail-icons ul {
    display: flex;
    gap: 1.5rem;
}

.for-1 .container-for-1 .fo-socail-icons ul li {
    list-style: none;
}

.for-1 .container-for-1 .fo-socail-icons ul li a {
    color: #fff;
    background: var(--header-navigation-bottom-color);
    padding: 1.2rem 1.4rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.for-1 .container-for-1 .fo-socail-icons ul li a:hover {
    background: var(--buttom-color);
}

.for-1 .container-for-1 .fo-socail-icons ul li a i {
    font-size: 1.2rem;
}

/* ============ Column 2 ============ */
.container-for-2 h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: sans-serif;
    color: #fff;
}

.dates-fot {
    margin-bottom: 1rem;
}

.dates-fot ul {
    padding: 0;
}

.dates-fot ul li {
    list-style: none;
    margin-bottom: 1.5rem;
}

.dates-fot ul li h6 {
    color: var(--buttom-color);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.dates-fot ul li h6 i {
    font-size: 0.8rem;
    color: #fff;
    margin-right: 1rem;
}

.dates-fot ul li p {
    color: #fff;
    font-size: 1.4rem;
    margin-left: 2rem;
}

/* ============ Column 3 ============ */
.container-for-3 h1 {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 2.5rem;
    font-family: sans-serif;
}

.container-for-3 .footer-3 {
    font-size: 1.5rem;

    margin-bottom: 1rem;
    font-family: sans-serif;
    line-height: 1.6;
}

.container-for-3 .footer-3 ul li {
    list-style: none;
    margin-bottom: .5rem;
}

.container-for-3 .footer-3 ul li h6 {
    font-size: 1.5rem;
    font-family: sans-serif;
    display: flex;
    margin-bottom: 0.5rem;
    color: var(--buttom-color);

}

.container-for-3 .footer-3 ul li h6 i {
    margin-right: 1rem;
    font-size: 2rem;
}

.container-for-3 .footer-3 ul li p a {
    font-size: 1.7rem;
    color: #fff;
    margin-left: 3rem;
}

/* ====== Footer End Section ====== */
.footer-end .footer {
    margin-top: 3rem;
    border-top: 0.3rem solid var(--header-navigation-bottom-color);
    padding-top: 2rem;
}

.footer-end .footer p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--paragraph-color);
    padding-bottom: 2rem;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}


































































































@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }


    .header-bottom .header-navigation {
        margin-left: 1rem;
    }

    .responsive-header {
        background-color: var(--header-navigation-bottom-color);
        padding-top: 3rem;
        padding-left: 2.5rem;
    }

    .responsive-header i {
        color: var(--header-social-icons);
        font-size: 2.5rem;
        padding-top: 2.3rem;
        padding-right: 1.5rem;
        cursor: pointer;
        background-color: var(--header-navigation-bottom-color);
    }

    .responsive-header i:hover {
        color: var(--buttom-color);
    }

    .responsive-header.active .header-navigation {
        display: block;
        position: absolute;
        top: 10rem;
        left: 0;
        width: 100%;
        background: var(--header-navigation-bottom-color);
        z-index: 999;
    }

    .responsive-header.active .header-navigation .navigation {
        background-color: var(--header-navigation-bottom-color);
    }

    #menu-bars {
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
    }

    #close {
        display: block;
        font-size: 2.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    .icons-1 #menu-bars {
        display: inline-block;
    }

    .header-top,
    .header-bottom .container-header .navigation,
    .header-bottom .container-header .socail-icons {
        display: none;
    }

    .responsive-header {
        visibility: visible;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        cursor: pointer;
    }

    .responsive-header.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header-bottom #none {
        display: none;
    }

    .responsive-header .header-navigation {
        display: block;
        background: var(--header-navigation-bottom-color);
        padding: 2rem;
    }

    .responsive-header .navigation {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--header-navigation-top-color);
    }

    .responsive-header .navigation li {
        width: 100%;
        margin-bottom: 1rem;
    }

    .responsive-header .navigation li a {
        color: #fff;
        font-size: 2rem;
        padding: 1rem;
        display: block;
    }

    .responsive-header .dropdown {
        position: relative;
        background: var(--header-navigation-bottom-color);
        padding-left: 2rem;
    }

    .responsive-header .dropdown li a {
        padding: 1rem;
        font-size: 1.6rem;
    }

    .responsive-header .socail-icons {
        display: block;
        margin-top: 2rem;
    }

    .responsive-header .socail-icons .socail {
        display: flex;
        justify-content: flex-start;
    }

    .responsive-header #desktop:hover {
        background-color: var(--header-navigation-bottom-color);
    }

    .header-bottom {
        position: absolute;
        top: 0;
        left: 0;
    }

}


@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .icons-1 #menu-bars {
        display: inline-block;
    }

    .header-top,
    .header-bottom .container-header .navigation,
    .header-bottom .container-header .socail-icons {
        display: none;
    }

    .responsive-header {
        visibility: visible;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        cursor: pointer;
    }

    .responsive-header.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header-bottom #none {
        display: none;
    }

    .responsive-header .header-navigation {
        display: block;
        background: var(--header-navigation-bottom-color);
        padding: 2rem;
    }

    .responsive-header .navigation {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--header-navigation-top-color);
    }

    .responsive-header .navigation li {
        width: 100%;
        margin-bottom: 1rem;
    }

    .responsive-header .navigation li a {
        color: #fff;
        font-size: 2rem;
        padding: 1rem;
        display: block;
    }

    .responsive-header .dropdown {
        position: relative;
        background: var(--header-navigation-bottom-color);
        padding-left: 2rem;
    }

    .responsive-header .dropdown li a {
        padding: 1rem;
        font-size: 1.6rem;
    }

    .responsive-header .socail-icons {
        display: block;
        margin-top: 2rem;
    }

    .responsive-header .socail-icons .socail {
        display: flex;
        justify-content: flex-start;
    }

    .responsive-header #desktop:hover {
        background-color: var(--header-navigation-bottom-color);
    }

    .header-bottom {
        position: absolute;
        top: 0;
        left: 0;
    }

    .about-section {
        height: 75vh;
    }

    .about-section .content h1 {
        font-size: 4.4rem;
        position: absolute;
        left: 11rem;
        top: -2rem;
    }


    .about-section .content h5 {
        position: absolute;
        top: 5rem;
        left: 15rem;
        font-size: 1.1rem;

    }


    .about-keffen .container .row-1-2 .row-2 {
        margin-top: 3rem;
        width: 90rem;
    }

    .about-keffen .container .row-1-2 .row-2 .image img {
        width: 158vh;
        height: 160vh;
        padding-bottom: 3rem;
        object-fit: cover;
        border-radius: .3rem;
    }

    .birthday-cards .container .contianer-birthday {
        background-color: var(--header-navigation-top-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 175vh;
        width: 100%;
        position: relative;
        padding: 7rem 0;
    }



    .chefs .container .team {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        flex-direction: column;
    }


    .chefs .container .team .team-contact {
        background-color: var(--header-navigation-top-color);
        margin-left: 2rem;
        height: 48rem;
        width: 35rem;
        margin-bottom: 2rem;
    }

    .chefs .container h1 {
        font-size: 2.5rem;
        font-weight: bolder;
        padding-top: 2rem;
        font-family: 'Merienda';
    }


    .chefs .container .team .team-contact .image-team .team-member {
        position: absolute;
        left: 0em;
        top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 93.4%;
        border-radius: .8rem;
        opacity: 0;
    }


    .chefs .container .team-box h4 {
        color: #fff;
        font-size: 2.5rem;
        font-weight: bolder;
        font-family: "oswald", sans-serif;
        padding-bottom: 1rem;
    }

    .chefs .container .team-member .team-box .para {
        color: #fff;
        font-size: 2rem;
        margin-top: 1rem;
        font-weight: bolder;
    }

    .brand-pics .container .container-pics .pics {
        height: auto;
        padding: 0 1rem;
    }


    .pics img {
        height: 15vh;
        width: 19vh;
        padding-left: 1rem;
        object-fit: contain;
    }
}

@media (max-width:567px) {
    .about-section {
        height: 75vh;
    }


    .about-section .content {
        position: absolute;
        top: 50%;
        left: -16rem;
        width: 100vh;
    }

    .about-section .content h1 {
        font-size: 5rem;
        color: #fff;
        margin-bottom: 1rem;
        font-weight: bold;
        position: absolute;
        top: -3rem;
        left: 20rem;
    }

    .about-section .content h5 {
        font-size: 1.4rem;
        color: #fff;
        display: flex;
        position: absolute;
        left: 42%;
        width: 100vh;
    }

    .about-keffen .container .row-1-2 .row-2 {
        margin-top: 3rem;
        flex: 1 1 35%;

    }

    .about-keffen .container .row-1-2 .row-2 .image img {
        height: 110vh;
        width: 100vh;
        padding-bottom: 3rem;
        object-fit: cover;
        border-radius: .3rem;
    }

    .birthday-cards .container .contianer-birthday {
        background-color: var(--header-navigation-top-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 172vh;
        width: 100%;
        position: relative;
        padding: 7rem 0;
    }


    .brand-pics .container .container-pics .pics {
        height: auto;
        padding: 0;
    }

    .pics img {
        height: 9vh;
        width: 16vh;
        padding-left: 1rem;
        object-fit: contain;
        opacity: .5;
    }


}


@media (max-width:480px) {
    .about-section {
        height: 70vh;
    }


    .about-section .content {
        position: absolute;
        top: 50%;
        left: -16rem;
        width: 100vh;
    }

    .about-section .content h1 {
        font-size: 4rem;
        color: #fff;
        margin-bottom: 1rem;
        font-weight: bold;
        position: absolute;
        left: 18rem;
        top: 1rem;
    }

    .about-section .content h5 {
        font-size: 1.4rem;
        color: #fff;
        display: flex;
        position: absolute;
        top: 8rem;
        left: 21rem;
        width: 100vh;
    }



    .about-keffen .container .row-1-2 .row-1 .image-content-1 {
        margin-top: 1rem;
    }

    .about-keffen .container .row-1-2 .row-1 .main-content h1 {
        font-size: 2.5rem;
        color: #fff;
        font-family: 'Oswald';
        padding-bottom: 2rem;
    }

    .image-content-1 .content h3 {
        font-size: 2rem;
        color: #fff;
    }

    .image-content-1 .content p {
        font-size: 1.2rem;
        color: var(--paragraph-color);
        width: 93%;
        line-height: 1.5;
        padding-top: 1rem;
    }

    .image-content-1 .image img {
        width: 9rem;
        height: 9rem;
        object-fit: contain;
        padding-top: 2rem;
        margin-right: 1rem;
    }

    .about-keffen .container .row-1-2 .row-2 {
        margin-top: 3rem;
    }

    .about-keffen .container .row-1-2 .row-2 .image img {
        width: 79vh;
        height: 86vh;
        padding-bottom: 3rem;
        object-fit: cover;
        border-radius: .3rem;
    }



    .about-keffen .container .row-1-2 .row-1 .image-content-2 {
        margin-top: 1rem;
    }


    .image-content-2 .content h3 {
        font-size: 2rem;
        color: #fff;
    }

    .image-content-2 .content p {
        font-size: 1.2rem;
        color: var(--paragraph-color);
        width: 93%;
        line-height: 1.5;
        padding-top: 1rem;
    }

    .image-content-2 .image img {
        width: 9rem;
        height: 9rem;
        object-fit: contain;
        padding-top: 2rem;
        margin-right: 1rem;
    }

    .birthday-cards .container .contianer-birthday {
        background-color: var(--header-navigation-top-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 172vh;
        width: 100%;
        padding: 7rem 0;
    }


    .birthday-cards .container .contianer-birthday .image-content .image {
        height: 22vh;
        width: 21vh;
        border-radius: 50%;
        background-color: var(--header-navigation-bottom-color);
        margin-left: 2rem;
        margin-top: 2.3rem;
    }

    .birthday-cards .container .contianer-birthday .image-content .image img {
        height: 8rem;
        width: 8rem;
        object-fit: contain;
        margin-top: 3.5rem;
        margin-left: 3.5rem;
    }

    .brand-pics .container .container-pics .pics {
        height: auto;
        padding: 0;
    }

    .pics img {
        height: 9vh;
        width: 11vh;
        padding-left: 1rem;
        object-fit: contain;
        opacity: .5;
    }

}


@media (max-width:320px) {
    .about-keffen .container .row-1-2 .row-1 .main-content h1 {
        font-size: 2rem;
        color: #fff;
        font-family: 'Oswald';
        padding-bottom: 2rem;
    }

    .about-keffen .container .row-1-2 .row-1 .main-content p {
        color: var(--paragraph-color);
        line-height: 1.5;
        width: 100%;
        font-size: 1.5rem;
        text-align: justify;
    }

    .image-content-1 .content h3 {
        font-size: 1.5rem;
        color: #fff;
    }

    .image-content-1 .content p {
        font-size: 1.2rem;
        color: var(--paragraph-color);
        width: 100%;
        line-height: 1.5;
        padding-top: 1rem;
    }

    .image-content-1 .image img {
        width: 7rem;
        height: 7rem;
        object-fit: contain;
        padding-top: 2rem;
        margin-right: 1rem;
    }

    .image-content-2 .content h3 {
        font-size: 1.5rem;
        color: #fff;
    }

    .image-content-2 .image img {
        width: 7rem;
        height: 7rem;
        object-fit: contain;
        padding-top: 2rem;
        margin-right: 1rem;
    }

    .image-content-2 .content p {
        font-size: 1.2rem;
        color: var(--paragraph-color);
        width: 100%;
        line-height: 1.5;
        padding-top: 1rem;
    }

    .birthday-cards .container .contianer-birthday {
        background-color: var(--header-navigation-top-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 194vh;
        width: 100%;
        padding: 7rem 0;
    }

    .birthday-cards .container .contianer-birthday .image-content .content p {
        color: var(--paragraph-color);
        font-size: 1.3rem;
        padding-left: 0rem;
        padding-top: .5rem;
    }

    .birthday-cards .container .contianer-birthday .image-content .content h3 {
        color: #fff;
        margin-right: 2rem;
        font-size: 2rem;
    }

    .birthday-cards .container .contianer-birthday .image-content .image {
        height: 22vh;
        width: 21vh;
        border-radius: 50%;
        background-color: var(--header-navigation-bottom-color);
        margin-left: 0rem;
        margin-top: -11.7rem;
    }
}